<!-- START OF FOOTER -->
<footer class="bg-[#151724] pt-28 pb-8 flex flex-col items-start gap-24">
  <!-- START OF GET IN TOUCH FORM -->
  <!-- END OF GET IN TOUCH FORM -->

  <!-- START OF SITE MAP -->
  <section class="w-full justify-between container mx-auto px-4">
    <!-- START OF SITE MAP CONTAINER -->
    <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 md:grid-cols-4">
      <!-- START OF MAP COL -->
      <div class="col-span-1 flex flex-col gap-6">
        <h2 class="text-subtitle text-xl font-bold italic">{{'footer.quickLinks' | translate}}</h2>
        <ul class="flex flex-col gap-2 list-none">
          <li>
            <a href="#" class="hover:text-white text-[#949BBE] text-base"
              >{{'footer.home' | translate}}</a
            >
          </li>
          <li>
            <a href="#" class="hover:text-white text-[#949BBE] text-base"
              >{{'footer.buy' | translate}}</a
            >
          </li>
          <li>
            <a href="#" class="hover:text-white text-[#949BBE] text-base"
              >{{'footer.sell' | translate}}</a
            >
          </li>
          <li>
            <a href="#" class="hover:text-white text-[#949BBE] text-base"
              >{{'footer.contact' | translate}}</a
            >
          </li>
          <li>
            <a href="#" class="hover:text-white text-[#949BBE] text-base"
              >{{'footer.privacy' | translate}}</a
            >
          </li>
        </ul>
      </div>
      <!-- END OF MAP COL -->

      <!-- START OF MAP COL -->
      <div class="col-span-1 flex flex-col gap-6">
        <h2 class="text-subtitle text-xl font-bold italic">{{'footer.services' | translate}}</h2>
        <ul class="flex flex-col gap-2 list-none">
          <li>
            <a href="#" class="hover:text-white text-[#949BBE] text-base"
              >{{'footer.newHomes' | translate}}</a
            >
          </li>
          <li>
            <a href="#" class="hover:text-white text-[#949BBE] text-base"
              >{{'footer.ourServices' | translate}}</a
            >
          </li>
          <li>
            <a href="#" class="hover:text-white text-[#949BBE] text-base"
              >{{'footer.sell' | translate}}</a
            >
          </li>
          <li>
            <a href="#" class="hover:text-white text-[#949BBE] text-base"
              >{{'footer.blog' | translate}}</a
            >
          </li>
          <li>
            <a href="#" class="hover:text-white text-[#949BBE] text-base"
              >{{'footer.terms' | translate}}</a
            >
          </li>
        </ul>
      </div>
      <!-- END OF MAP COL -->

      <!-- START OF MAP COL -->
      <div class="col-span-1 flex flex-col gap-6">
        <h2 class="text-subtitle text-xl font-bold italic">{{'footer.homes' | translate}}</h2>
        <ul class="flex flex-col gap-2 list-none">
          <li>
            <a href="#" class="hover:text-white text-[#949BBE] text-base"
              >{{'footer.services' | translate}}</a
            >
          </li>
          <li>
            <a href="#" class="hover:text-white text-[#949BBE] text-base"
              >{{'footer.buy' | translate}}</a
            >
          </li>
          <li>
            <a href="#" class="hover:text-white text-[#949BBE] text-base"
              >{{'footer.sell' | translate}}</a
            >
          </li>
          <li>
            <a href="#" class="hover:text-white text-[#949BBE] text-base"
              >{{'footer.contact' | translate}}</a
            >
          </li>
          <li>
            <a href="#" class="hover:text-white text-[#949BBE] text-base"
              >{{'footer.privacy' | translate}}</a
            >
          </li>
        </ul>
      </div>
      <!-- END OF MAP COL -->

      <!-- START OF MAP COL -->
      <div class="col-span-1 flex flex-col gap-6">
        <h2 class="text-subtitle text-xl font-bold italic">{{'footer.contact' | translate}}</h2>
        <ul class="flex flex-col gap-2 list-none">
          <!-- START OF CONTACT ITEM -->
          <li>
            <a
              href="tel:+96000000000"
              class="flex flex-row gap-1 items-center hover:text-white text-[#949BBE] text-base"
            >
              <span class="flex flex-row gap-1 items-center">
                <i class="pi pi-mobile"></i>
                <span>{{'footer.phone' | translate}}:</span>
              </span>
              <span dir="ltr"> +96000000000 </span>
            </a>
          </li>
          <!-- END OF CONTACT ITEM -->

          <!-- START OF CONTACT ITEM -->
          <li>
            <a
              href="tel:+96000000000"
              class="flex flex-row gap-1 items-center hover:text-white text-[#949BBE] text-base"
            >
              <span class="flex flex-row gap-1 items-center">
                <i class="pi pi-mobile"></i>
                <span>{{'footer.sales' | translate}}:</span>
              </span>
              <span dir="ltr"> +96000000000 </span>
            </a>
          </li>
          <!-- END OF CONTACT ITEM -->

          <!-- START OF CONTACT ITEM -->
          <li>
            <a
              href="tel:+96000000000"
              class="flex flex-row gap-1 items-center hover:text-white text-[#949BBE] text-base"
            >
              <span class="flex flex-row gap-1 items-center">
                <i class="pi pi-whatsapp"></i>
                <span>{{'footer.whatsApp' | translate}}:</span>
              </span>
              <span dir="ltr"> +96000000000 </span>
            </a>
          </li>
          <!-- END OF CONTACT ITEM -->

          <!-- START OF CONTACT ITEM -->
          <li>
            <a
              [href]="'mailto:' + ('contact.mail' | translate)"
              class="flex flex-row gap-1 items-center hover:text-white text-[#949BBE] text-base"
            >
              <span class="flex flex-row gap-1 items-center">
                <i class="pi pi-envelope"></i>
                <span>{{'footer.email' | translate}}:</span>
              </span>
              <span dir="ltr"> {{ "contact.mail" | translate }} </span>
            </a>
          </li>
          <!-- END OF CONTACT ITEM -->
        </ul>
      </div>
      <!-- END OF MAP COL -->
    </div>
    <!-- END OF SITE MAP CONTAINER -->
  </section>
  <!-- END OF SITE MAP -->

  <!-- START OF BOTTOM FOOTER -->
  <section class="container px-4 mx-auto items-center flex flex-row gap-4 justify-between">
    <!-- START OF COPYRIGHTS -->
    <div>
      <span class="text-subtitle">{{ 'footer.copyRight' | translate}}</span>
    </div>
    <!-- END OF COPYRIGHTS -->

    <!-- START OF SOCIAL MEDIA -->
    <div class="flex flex-row gap-4">
      <a href="#"><i class="pi pi-facebook text-xl text-light-primary"></i></a>
      <a href="#"><i class="pi pi-twitter text-xl text-light-primary"></i></a>
      <a href="#"><i class="pi pi-instagram text-xl text-light-primary"></i></a>
      <a href="#"><i class="pi pi-linkedin text-xl text-light-primary"></i></a>
    </div>
    <!-- END OF SOCIAL MEDIA -->
  </section>
  <!-- END OF BOTTOM FOOTER -->
</footer>
<!-- END OF FOOTER -->
